.header {
  width: 92%;
  margin: 2% 4% 1% 4%;
  position: relative;
  h1 {
    color: rgb(128, 121, 121);
    font-size: 140%;
  }
  input {
    all: unset;
    position: absolute;
    right: 0%;
    top: 0;
    height: 3.1vh;
    border-radius: 6px;
    text-align: start;
    border: 1px solid rgba(255, 0, 0, 0.884);
    color: white;
    background-color: black;
    padding-left: 0.4%;
  }
}

hr {
  color: #e0dddd;
  width: 92%;
  border-style: groove;
}
