@import "./login.scss";
@import "./main.scss";
@import "./navbar.scss";
@import "./register.scss";
@import "./swiper.scss";
@import "./grid.scss";
@import "./header.scss";

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: rgb(39, 33, 33);
}

.tag-a-register-login {
  text-decoration: none;
}
