@import "./login.scss";
@import "./main.scss";
@import "./navbar.scss";
@import "./swiper.scss";
@import "./swiperPeople.scss";
@import "./grid.scss";
@import "./header.scss";
@import "./singleMovie.scss";
@import "./searchCard.scss";
@import "./singleActor.scss";
@import "./footer.scss";
@import "./myAccount.scss";
@import "./elements.scss";
@import "./moviesGrid.scss";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
  color: black;
  background-color: rgb(22, 19, 19);
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 0.7em;
  background-color: rgba(0, 0, 0, 0.74);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.329);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(202, 54, 54);
  border-radius: 20px;
  &:hover {
    background-color: rgb(122, 31, 31);
  }
}
a {
  all: unset;
}
.indexPage {
  background-color: rgb(12, 11, 11);
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.index {
  height: 80vh;
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
}
.index-content-container {
  width: 120vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 0;
    padding: 0;
    font-family: "Geologica", sans-serif;
    font-size: 11rem;
    letter-spacing: 30px;
    text-decoration: underline;
    color: #f31515;
    text-transform: uppercase;
    transition: transform 1s ease;
    &:hover {
      transform: scale(1.2) translateY(-25px);
    }
  }
  h2 {
    margin-top: 10%;
    font-family: "Geologica", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: -2px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    transition: all 0.7s ease-in-out;
    animation: bounce-normal 2s linear infinite;
    &:hover {
      transform: scale(1.05);
      filter: blur(0px);
      opacity: 1;
    }
  }
  h4 {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

@keyframes bounce-normal {
  0%,
  90%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px) scale(1.03);
  }
}

@keyframes rotate {
  from {
    transform: rotatex(0deg);
  }
  to {
    transform: rotatex(360deg);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  width: 31vh;
  height: 10vh;
  background-color: white;
  margin: 40px;
  color: #568fa6;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 7px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.4s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.buttons button:before,
.buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #df4a4a;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
  right: 0;
  top: 0;
  transition: all 0.7s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
  left: 0;
  bottom: 0;
}

.buttons button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #df4a4a;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
  right: 0;
  top: 0;
  transition: all 0.7s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
  left: 0;
  bottom: 0;
}

.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.6s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #f31515;
  letter-spacing: 4px;
  font-size: 16px;
}

.buttons button p:before,
.buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
  color: #520101;
}

.buttons button:hover:before,
.buttons button:hover:after {
  width: 100%;
}

.buttons button:hover span {
  z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
  height: 100%;
}

.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons button.start {
  background-color: #df4a4a;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button.start p:after {
  color: white;
  transition: all 0.2s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
  display: none;
}

.buttons button.start:hover span {
  display: none;
}

.buttons button:active {
  outline: none;
  border: none;
}

.buttons button:focus {
  outline: 0;
}
.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}
