.loginPage {
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con opacidad (0.5) */
    z-index: -1; /* Asegura que el pseudo-elemento esté sobre la imagen de fondo */
  }
}
.login-box {
  h1 {
    color: #f31515;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 1.5rem;
    letter-spacing: 1px;
    // text-decoration: underline;
  }
  h4,
  a {
    margin-top: 1.5rem;
    color: #fff;
    letter-spacing: -0.5px;
  }
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  color: #f31515;
  letter-spacing: 0.8px;
}
.tag-a-register-login {
  text-decoration: none;
}
//  F    O    R    M
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 58vh;
  height: 52vh;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 2;
  h3 {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2rem;
    margin-top: 0px;
  }
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 4% 0px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #f31515;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f31515, 0 0 12px #f31515, 0 0 25px #f31515,
    0 0 50px #f31515;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f31515);
  animation: btn-anim1 2s linear infinite;
}
