.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: rgb(39, 33, 33);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 0 0px 16px 16px;
  padding-top: 20px;
  margin-bottom: 2vh;
  box-shadow: 0px 2px 18px -1px rgb(255 0 0 / 40%);
  display: none;
}
.navbar-logout-div,
.navbar-home-div {
  margin: 0 4%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  p {
    font-size: smaller;
    color: #f51616;
  }
}
.navbar-logout-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 16.5%;
}
.home-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(253, 40, 40);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.home-button:hover {
  background: rgb(253, 40, 40);
  box-shadow: 0 0 30px 5px rgb(196, 0, 0);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.home-button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #000;
  box-shadow: 0 0 50px 30px #000;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.home-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
#search-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  width: 11.5vh;
}
