.search-card-container {
  margin: 0 0px;
  // width: 80%;
}

.parent {
  width: 90.7%;
  margin-left: 4%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 13px;
}
.search-card-container img {
  transform: rotateY(0deg);
  transition: filter 0.9s ease;
  filter: brightness(1);
  position: relative; /* Permite posicionar elementos secundarios */
}
.search-card-container .img-back {
  opacity: 0;
  transition: opacity 3s ease; /* Agrega una transición suave para la opacidad */
  position: absolute; /* Coloca el elemento sobre la imagen */
  top: 0; /* Ajusta la posición superior para que esté encima de la imagen */
  left: 0; /* Ajusta la posición izquierda para que esté encima de la imagen */
  // p {
  //   font-size: 0.9rem;
  //   text-align: center;
  //   padding-top: 87%;
  // }
}
.search-card-container:hover img {
  // transform: rotateY(180deg);
  filter: brightness(0.1); /* Oscurece la imagen al hacer hover */
  // border: 4px solid red;
}
