.search-container {
  width: 100%;
  min-height: 65vh;
}

.search-card-container {
  margin: 0 0px;
}

.parent {
  width: 90.7%;
  margin-left: 4%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 13px;
}

.search-card-container {
  position: relative;
  transition: transform 0.6s ease; // Animación suave al hacer hover
  .img-container {
    position: relative;
    .img-front {
      // Estilos de la imagen frontal
      width: 100%;
      height: auto;
      transition: filter 0.6s ease; // Animación suave al hacer hover
    }
    .img-back-search {
      // Estilos del texto que se muestra en hover
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); // Fondo oscuro
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.6s ease; // Animación suave al hacer hover
      p {
        color: white; // Color del texto
        padding: 10px;
        text-align: center;
      }
    }
  }
  &:hover {
    transform: scale(1.05); // Escalado al hacer hover
    .img-front {
      filter: brightness(0.7); // Imagen más oscura al hacer hover
    }
    .img-back-search {
      opacity: 1; // Texto visible al hacer hover
    }
  }
}

.input-search {
  all: unset;
  background-color: #000;
  max-width: 20vh;
  max-height: 36px;
  border-radius: 8px;
  border: 1px solid rgb(253, 40, 40);
  font-size: 15px;
  color: #c5c5c5;
  padding: 8px 0px 8px 8px;
  margin-left: 86%;
  margin-top: 20px;
}
