.single-movie {
  background-color: rgb(39, 33, 33);
}
.single-movie-container {
  padding-top: 1.5%;
  margin: 0 4%;
}

.div-container-single-movie-page {
  height: 85vh;
}
.parent-single-movie {
  display: flex;
  color: #fff;
}

.div1 {
  img {
    border-radius: 16px;
  }
}
.single-movie-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
.div2 {
  width: 50%;
}
.div2 .smcdiv2 {
  h1 {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 10px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 100;
  }
  h3 {
    margin: 3% 0px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p {
    color: #c4c0c0;
    width: 60%;
    text-align: left;
    font-size: 105%;
  }
}

.tag-a-trailer:link,
.tag-a-trailer:visited,
.tag-a-trailer:active {
  text-decoration: none;
  color: #fff;
}
#button-trailer {
  margin-left: 5%;
}

.trailer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
