// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap");

.div-container-single-movie-page {
  height: 100vh;
}
.single-movie {
  background-color: rgb(39, 33, 33);
}
.single-movie-container {
  margin-top: 4%;
  height: 60vh;
  margin: 0 4%;
}

.parent-single-movie {
  margin-top: 2%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 14px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 4;
  h1 {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 4px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 100;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p {
    color: #c4c0c0;
    width: 60%;
    text-align: left;
  }
}
.div3 {
  grid-area: 2 / 2 / 3 / 4;
}
