.img-container {
  .img-front-people {
    height: 100%;
    width: 100%;
  }
}

.swiper-slide-people {
  .img-container-people {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;

    .img-front-people {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
      transition: transform 1s ease;
    }

    &:hover {
      .img-front-people {
        transform: scale(1.3);
      }

      transform: translateZ(50px);
    }
  }
}
