.swiper-slide {
  // border: 1px solid blue;
  margin: 0px;

  p {
    color: white;
  }
}
.swiper-container {
  width: 92%;
  // border: 1px solid white;
}

div {
  img {
    height: 100%;
    width: 100%;
  }
}

// /* Estiliza el contenedor de la imagen */
// .swiper-slide {
//   position: relative;
//   perspective: 1000px; /* Establece la perspectiva para la rotación 3D */
// }

// /* Aplica una rotación de 0 grados (sin rotación) en el eje Y a las imágenes frontales */
// .img-front {
//   transform: rotateY(0deg);
//   transition: transform 0.9s ease; /* Agrega una transición suave para el efecto hover */
//   backface-visibility: hidden; /* Oculta el reverso de la imagen durante la rotación */
//   position: relative;
//   z-index: 2;
// }

// /* Oculta el elemento con la clase 'img-back' de forma predeterminada */
// .img-back {
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgb(36, 34, 34); /* Fondo negro cuando se hace hover */
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: white;
//   transition: opacity 0.9s ease; /* Agrega una transición suave para la opacidad */
//   z-index: 1; /* Posición encima de la imagen frontal */
//   p {
//     font-size: 0.9rem;
//     // margin-bottom: -15vh;
//   }
// }

// /* Cuando se hace hover en .swiper-slide, rota la imagen en el eje Y a 180 grados y muestra 'img-back' */
// .swiper-slide:hover .img-front {
//   transform: rotateY(180deg);
// }

// /* Cuando se hace hover en .swiper-slide, muestra 'img-back' con opacidad 1 */
// .swiper-slide:hover .img-back {
//   opacity: 1;
// }

/* Aplica una rotación de 0 grados (sin rotación) en el eje Y a las imágenes */
.SwiperSlide img {
  transform: rotateY(0deg);
  transition: filter 1s ease; /* Agrega una transición suave para la rotación */
  filter: brightness(1); /* Mantiene la imagen con brillo completo */
  position: relative; /* Permite posicionar elementos secundarios */
}

/* Oculta el elemento con la clase 'img-back' de forma predeterminada */
.SwiperSlide .img-back {
  opacity: 0;
  transition: opacity 3s ease; /* Agrega una transición suave para la opacidad */
  position: absolute; /* Coloca el elemento sobre la imagen */
  top: 0; /* Ajusta la posición superior para que esté encima de la imagen */
  left: 0; /* Ajusta la posición izquierda para que esté encima de la imagen */
  p {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 87%;
  }
}

/* Cuando se hace hover en .SwiperSlide, rota la imagen en el eje Y a 180 grados */
.SwiperSlide:hover img {
  // transform: rotateY(180deg);
  filter: brightness(0.2); /* Oscurece la imagen al hacer hover */
}

/* Cuando se hace hover en .SwiperSlide, muestra 'img-back' con opacidad 1 */
.SwiperSlide:hover .img-back {
  opacity: 1;
}
