.swiper-slide {
  margin: 0px;

  p {
    color: white;
  }
}
.actor-name {
  position: absolute;
  width: 90%;
  top: 80%;
  left: 5%;
  background: #e5282886;
  border-radius: 10px;
}
.p-actor-name {
  color: white;
  margin: unset;
  text-align: center;
  padding: 2px 0px;
}
.swiper-container {
  width: 92%;
}
.img-container {
  .img-front {
    height: 100%;
    width: 100%;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
}
.SwiperSlide img {
  transform: rotateY(0deg);
  transition: filter 0.8s ease;
  filter: brightness(1);
  position: relative;
}
.SwiperSlide .img-back {
  opacity: 0;
  transition: opacity 2s ease;
  position: absolute;
  top: 0;
  left: 0;
  p {
    font-size: 14px;
    text-align: center;
    padding-top: 65%;
  }
}

.SwiperSlide:hover img {
  filter: brightness(0.1);
}

.SwiperSlide:hover .img-back {
  opacity: 1;
}
