.swiper-slide {
  margin: 0px;

  p {
    color: white;
  }
}
.actor-name {
  position: absolute;
  width: 90%;
  top: 80%;
  left: 5%;
  background: #e5282886;
  border-radius: 10px;
}
.p-actor-name {
  color: white;
  margin: unset;
  text-align: center;
  padding: 2px 0px;
}
.swiper-container {
  width: 92%;
}
.img-container {
  .img-front {
    height: 100%;
    width: 100%;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
}
/* Aplica una rotación de 0 grados (sin rotación) en el eje Y a las imágenes */
.SwiperSlide img {
  transform: rotateY(0deg);
  transition: filter 0.8s ease; /* Agrega una transición suave para la rotación */
  filter: brightness(1); /* Mantiene la imagen con brillo completo */
  position: relative; /* Permite posicionar elementos secundarios */
}
/* Oculta el elemento con la clase 'img-back' de forma predeterminada */
.SwiperSlide .img-back {
  opacity: 0;
  transition: opacity 2s ease; /* Agrega una transición suave para la opacidad */
  position: absolute; /* Coloca el elemento sobre la imagen */
  top: 0; /* Ajusta la posición superior para que esté encima de la imagen */
  left: 0; /* Ajusta la posición izquierda para que esté encima de la imagen */
  p {
    font-size: 95%;
    text-align: center;
    padding-top: 87%;
  }
}
/* Cuando se hace hover en .SwiperSlide, rota la imagen en el eje Y a 180 grados */
.SwiperSlide:hover img {
  // transform: rotateY(180deg);
  filter: brightness(0.1); /* Oscurece la imagen al hacer hover */
}

/* Cuando se hace hover en .SwiperSlide, muestra 'img-back' con opacidad 1 */
.SwiperSlide:hover .img-back {
  opacity: 1;
}
